body, html{
    margin:0;
    padding:0;
}
header{
    display: flex;
    justify-content: stretch;
    height: 50px;
    background-color: goldenrod;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    flex: 1;
    gap: 50px;
    margin-right: 32px;
    margin-left: 32px;
    padding-left: 0;
    padding-right: 0;
    align-items: center;
}

.navitem{
    flex-basis: auto;
    display: flex;
    justify-content: center;
    /*border: 2px solid black;*/
}

.navitem{
    font-size: 20px;
}

.navlogo{
    margin-right: auto;
    font-size: 32px;
}

.navlink, .navlogo{
    text-decoration: none;
}

.navlink{
    color: #333333 ;
}

.navlink:hover{
    color: black;
}
